/* ========== GENERAL HTML TAG SETUP ========== */
html{
	margin: 0px;
	padding: 0px;
}
body {
	background-color: White;
	font-family:sans-serif;
	font-size: 12px;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
	color: #000000;
	line-height:1.5em;
}
img {
	margin-top:8px;
	margin-bottom:8px;
}
table{
	border-collapse: collapse;
	border-spacing: 0px;
	font-family:sans-serif;
}
td{
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}
td.dk_txtRes_cellTxt{
	width:50%;
}
th{
	text-align:left;	
}
p{
	padding: 0px;
	margin: 0.8em 0px;
}
a img{
	border-width:0;
}
a {
	color: #696989;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: #696989;
}

h1{
	color: #000000;
	font-size: 24px;
	margin: 0.5em 0em;
	/*border-bottom:1px solid grey;*/
	padding-bottom:8px 
}
h2{
	margin: 1.5em 0em 0.5em 0em;
	font-size: 1.3em;
	color: #000000;
	/*font-style: italic;*/
	padding-bottom: 3px;
	border-bottom: 1px solid #afafaf;
}
h3{
	margin: 0.5em 0em;
	font-size: 1.1em;
	color: #000000;
}
h4{
	margin: 0.5em 0em;
	font-size: 1em;
	color: #000000;
}
h5{
	margin: 0.5em 0em;
	font-size: 1em;
	color: #000000;
}
h6{
	margin: 0.5em 0em;
	font-size: 1em;
	color: #000000;
}

div.media{
	text-align:center;	
}


.dk_txtRes_tab {
	margin-top:8px;
	margin-bottom:8px;	
}

/** rapprocher la liste du paragraphe précédent, souvent fortement lié sémantiquement à cette liste **/
ol, ul{
	margin-top: 2px;
}
.googleSearchText{
	border:1px solid #999999;
	margin:0px;
	padding:1px
}

/* struct.css */
div#tplf{
	position: relative;
	min-width: 780px;
}
div#tplh{
	position: relative;
	height:30px;
	/*background-image:url("../img/tpl/tplh_b.gif");
	background-repeat: repeat-x;*/
	/*background-color:#dfc9f1;*/
	cursor: default;
	/*font-size: 16px;*/
	/*line-height: normal;*/
}
div#tplh a{
	text-decoration: none;
}
div#tplt{
	position: relative;
	/*background-color:#BB3443;*/
	height:70px;
	/*background-image:url("../img/tpl/tplt_b.png");*/
	background-repeat: no-repeat;
	background-position: top right;
	line-height: normal;
}
div#tplt img{
	vertical-align: middle;
	margin-top: 5px;
}
div.tplHomeTiFra td{
	text-align: left;
	padding: 5px;
}
div.tplHomeTiFra{
	text-align: center;
	padding-top: 40px;
}
div.tplHomeTiFra table {
	width: 740px;
	margin: 0px auto;
}

div.infoBk{
}
table.infoBkTa th{
	text-align: right;
	padding-right:6px;
}

span.tplTi{
	margin-left:6px;
	font-size: 1.3em;
	font-weight: bold;
	cursor: default;
	color:#000000;
	letter-spacing: 2px
}
div.tplNav{
	position: relative;
	height:30px;
	/*background-image:url("../img/tpl/tpln_b.gif");
	background-repeat: repeat-x;*/
	/*background-color:#DFC9F1;*/
	cursor: default;
	line-height: normal;
}

div#tplc{
	min-height:395px;
	padding: 0px 10px 5px 10px;
}

div.tplc_out_yes{
	margin-left:217px;
}

div.tplc_out_no{
	margin-left:16px;
}

div.tplc_ctx_yes{
	margin-right:210px;
}
div#tplo{
	position: fixed;
	top: 135px;
	left: 0px;
	background-image:url("../img/tpl/tplo_b.gif");
	background-repeat: repeat-y;
	background-position: right;
	max-height: 390px;
	min-height: 100px;
	bottom: 55px;
	line-height: normal;
}
div.tplo_out_yes{
	width: 217px;
}
div.tplo_out_no{
	width: 16px;
}

div.tplOTp{
	position: absolute;
	width:100%;
	height:100%;
	background-image:url("../img/tpl/tplo_tp.gif");
	background-repeat: no-repeat;
	background-position: top right;
}
div.tplOBm{
	position: absolute;
	width:100%;
	height:100%;
	background-image:url("../img/tpl/tplo_bm.gif");
	background-repeat: no-repeat;
	background-position: bottom right;
}

div#tplx{
	position: fixed;
	top: 170px;
	right: 10px;
	width: 200px;
	min-height: 190px;
	background-image:url("../img/tpl/tplx_b.gif");
	background-repeat: no-repeat;
	background-position: top right;
	padding-top:10px;
	line-height: normal;
}
div#tplb{
	position: relative;
	height:14px;
	/*background-color:#BB3443;*/
	background-image:url("../img/tpl/tplb_b.gif");
	background-repeat: repeat-x;
	cursor: default;
	text-align: right;
	padding: 3px 5px;
	font-size:12px;
	line-height: normal;
}
.headCo h1{
	margin-top:0px;
	padding-top: 0.5em;
	color:#000000;
}

/* ========= Nav buttons ========= */ 
a.navBack,
a.navNext,
a.navPrev{
	height:30px;
	display: block;
	background-repeat: no-repeat;
}
a.btnAbout:hover,
a.navBack:hover,
a.navNext:hover,
a.navPrev:hover{
	text-decoration: none;
}
a.navNext{
	position: absolute;
	right:3px;
	top:0px;
	background-image:url("../img/nav/navNextOver.gif");
	background-position: top right;
}
a.navNext:hover{
	background-image:url("../img/nav/navNext.gif");
}
a.navPrev{
	position: absolute;
	left:3px;
	top:0px;
	background-image:url("../img/nav/navPrevOver.gif");
	background-position: top left;
}
a.navPrev:hover{
	background-image:url("../img/nav/navPrev.gif");
}
a.navBack{
	width:40px;
	background-image:url("../img/nav/navPrevOver.gif");
	margin: 0px auto;
}
a.navBack span{
	position: absolute;
	top:-5000px;
	left:-5000px;
	overflow: hidden;
	width:1px;
	height:1px;
	visibility: hidden;
}
a.navNext span,a.navPrev span{
	visibility: hidden;
}
a.btnAbout{
	display: block;
	background-repeat: no-repeat;
	/*-moz-opacity:0.7; 
	filter:Alpha(opacity=70); 
	opacity:0.7;*/
	position: absolute;
	left:3px;
	top:0px;
	background-image:url("../img/nav/navAbout.gif");
	background-position: top left;
	height:10px;
	display: block;
	padding: 4px 0px 6px 20px;
	color: #000000;
}
a.btnAbout:hover{
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
	opacity:1;
}

/* ========= Zoom main Nav ========= */
ul.tpl_main_navList {
	list-style: none;
	list-style-image:none;
	margin: 0px;
	padding: 0px;
	display: inline;
}
ul.tpl_main_navList li{
	margin: 0px;
	padding: 0px;
	float: left;
	height:30px;
}
ul.tpl_main_navList a,
ul.tpl_main_navList span.btnZoom {
	height:16px;
	display: block;
	padding: 7px 10px;
	color: #696989;
	font-weight: bold;
	background-image:url("../img/tpl/tplh_s.gif");
	background-repeat: no-repeat;
	background-position: top right;
}
div.tplZoom li.liZoom{
	background-image:url("../img/tpl/tplh_bh.gif");
	background-repeat: repeat-x;
}
div.tplZoom a.btnGuide span {
	background-image:url("../img/tpl/guideHome_no.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 28px;
	color:#696989;
}
div.tplZoom div#tplh a:hover {
	background:url("../img/tpl/tplh_bo.gif") right;
}
div.tplZoom a.btnGuide span.tplGuideRet {
	background-image:url("../img/tpl/guideRet.gif");
}

/* ========= Misc classes ========= */
.hidden{
	position: absolute;
	top:-5000px;
	left:-5000px;
	overflow: hidden;
	width:1px;
	height:1px;
}
