/* outLeft.css */
ul.sw_outLeft_navList,
ul.sw_outLeftML_navList{
	list-style-type:none;
	text-align:left;
	cursor: default;
	font-size: 0.95em;
	padding:0px;
	margin:0px;
}
ul.sw_outLeft_navList ul,
ul.sw_outLeftML_navList ul{
	margin-left: 10px;
	list-style-type:decimal;
	padding: 0px 0px 0px 14px ;
}
ul.sw_outLeft_navList li,
ul.sw_outLeftML_navList li{

}
ul.sw_outLeft_navList a,
ul.sw_outLeftML_navList a{
	display: block;
	min-height:17px;
	padding-left: 0px;
	padding-top:2px
}
ul.sw_outLeft_navList span.outLeftSel_yes,
ul.sw_outLeftML_navList span.outLeftSel_yes{
	display: block;
	min-height:17px;
	color: #000000;
	padding-left: 0px;
	padding-top:2px
}
ul.sw_outLeft_navList ul {
		list-style-type:decimal;
}
ul.sw_outLeft_navList ul ul {
		list-style-type:lower-alpha;
}
ul.sw_outLeft_navList ul ul ul {
		list-style-type:square;
}
li.outRoot a.outLeftSel_no{
	/*background-image:url("../img/out/outHome.gif");*/
}
li.outIntro a.outLeftSel_no{
	/*background-image:url("../img/out/outIntro.gif");*/
}
li.outSec a.outLeftSel_no{
	/*background-image:url("../img/out/outSec.gif");*/
}
li.outConc a.outLeftSel_no{
	/*background-image:url("../img/out/outConc.gif");*/
}

li.outRoot span.outLeftSel_yes{
	/*background-image:url("../img/out/outHomeSel.gif");*/
}
li.outIntro span.outLeftSel_yes{
	/*background-image:url("../img/out/outIntroSel.gif");*/
}
li.outSec span.outLeftSel_yes{
	/*background-image:url("../img/out/outSecSel.gif");*/
}
li.outConc span.outLeftSel_yes{
	/*background-image:url("../img/out/outConcSel.gif");*/
}


li.outLeftD2 a.outLeftSel_no{
	/*padding-left: 16px;*/
	/*background-image:url("../img/out/outSecD2.gif");*/
}
li.outLeftD2 span.outLeftSel_yes{
	/*padding-left: 16px;*/
	/*background-image:url("../img/out/outSecSelD2.gif");*/
}

li.outLeftD3 a.outLeftSel_no{
	/*padding-left: 12px;*/
	/*background-image:url("../img/out/outSecD3.gif");*/
}
li.outLeftD3 span.outLeftSel_yes{
	/*padding-left: 12px;*/
	/*background-image:url("../img/out/outSecSelD3.gif");*/
}


/* Barres horizontal de scroll */

#mnuFrm{
	position: absolute;
	left:5px;
	height:100%;
	width:195px;
}

#mnuScroll {
	position: absolute;
	width:194px;
	top:15px;
	left:0px;
	bottom:15px;
	overflow: auto;
}
#mnuFrmUp{
	position: absolute;
	width: 195px;
	left: 0px;
	top:5px;
	height: 10px;
	background: url(../img/out/outLeft_bt_b.gif) repeat-x;
}
#mnuFrmUpLeft{
	background: url(../img/out/outLeft_bt_l.gif) left no-repeat;
	position: absolute;
	width: 5px;
	height: 10px;
}
#mnuFrmUpCenter{
	background: url(../img/out/outLeft_bt_c.gif) center top no-repeat;
	position: absolute;
	left: 5px;
	right: 5px;
	height: 10px;
}
#mnuFrmUpRight{
	background: url(../img/out/outLeft_bt_r.gif) right no-repeat;
	position: absolute;
	right: 0px;
	width: 5px;
	height: 10px;
}
#mnuBtnUp{
	position: absolute;
	width: 195px;
	height: 10px;
}
#mnuFrmDown{
	position: absolute;
	width: 195px;
	left: 0px;
	bottom: 5px;
	height: 10px;
	background: url(../img/out/outLeft_bb_b.gif) repeat-x;
	
}
#mnuFrmDownLeft{
	background: url(../img/out/outLeft_bb_l.gif) no-repeat;
	position: absolute;
	width: 5px;
	height: 10px;
}
#mnuFrmDownCenter{
	position: absolute;
	left: 5px;
	right: 5px;
	height: 10px;
	background: url(../img/out/outLeft_bb_c.gif) center top no-repeat;
}
#mnuFrmDownRight{
	background: url(../img/out/outLeft_bb_r.gif) no-repeat;
	position: absolute;
	right: 0px;
	width: 5px;
	height: 10px;
}
#mnuBtnDown{
	position: absolute;
	width: 195px;
	height: 10px;
}
#mnuFrmUp.btnOff,
#mnuFrmDown.btnOff{
	-moz-opacity:0.3;
	filter:Alpha(opacity=30);
	opacity:0.3;
}

a.mnuBtnTgl_on{
	background: url(../img/out/outLeft_tg_on.gif) no-repeat;
}

a.mnuBtnTgl_off{
	background: url(../img/out/outLeft_tg_off.gif) no-repeat;
}


a.mnuBtnTgl_on,
a.mnuBtnTgl_off{
	position: absolute;
	width:10px;
	height:36px;
	top: 50%;
	margin-top:-18px;
	right: 4px;
	-moz-opacity:0.7;
	filter:Alpha(opacity=70);
	opacity:0.7;
}
a.mnuBtnTgl_on:hover,
a.mnuBtnTgl_off:hover{
	-moz-opacity:1;
	filter:Alpha(opacity=100);
	opacity:1;
}

/* outMain.css */
ul.sw_outMain_navList,
ul.sw_outMainML_navList{
}

ul.sw_outMain_navList,
ul.sw_outMainML_navList{
	list-style: none;
	list-style-image:none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

ul.sw_outMain_navList li,
ul.sw_outMainML_navList li{
	margin: 0px;
	padding: 0px;
	float: left;
	height:30px;
	color: #000000;
	background-repeat: repeat-x;
}

ul.sw_outMain_navList li.mainSel_yes,
ul.sw_outMainML_navList li.mainSel_yes {
	background-image:url("../img/tpl/tplh_bh.gif");
}
ul.sw_outMain_navList a,
ul.sw_outMainML_navList a{
	color:#666666;
}
ul.sw_outMain_navList a:hover,
ul.sw_outMainML_navList a:hover{
	/*background:url("../img/tpl/tplh_bo.gif") right;*/
}

ul.sw_outMain_navList .mainElt_entry,
ul.sw_outMainML_navList .mainElt_entry {
	height:16px;
	display: block;
	padding: 7px 10px;
	font-weight: bold;
	/*background-image:url("../img/tpl/tplh_s.gif");*/
	background-repeat: no-repeat;
	background-position: top right;
}

/* entry icos */
ul.sw_outMain_navList .mainElt_entry span,
ul.sw_outMainML_navList .mainElt_entry span {
	background-repeat: no-repeat;
	background-position: left;
	/*padding-left: 20px;*/
}

ul.sw_outMain_navList li.toolGloss .mainElt_entry span,
ul.sw_outMainML_navList li.toolGloss .mainElt_entry span{
	/*background-image:url("../img/tpl/toolSel_no.gif");*/
}

ul.sw_outMain_navList li.outMap .mainElt_entry span,
ul.sw_outMainML_navList li.outMap .mainElt_entry span{
	/*background-image:url("../img/tpl/guideMap.gif");*/
}
ul.sw_outMain_navList li.outMap span.mainSel_yes span,
ul.sw_outMainML_navList li.outMap span.mainSel_yes span{
	/*background-image:url("../img/tpl/guideMap_yes.gif");*/
}


ul.sw_outMain_navList li.outRoot .mainElt_entry span,
ul.sw_outMainML_navList li.outRoot .mainElt_entry span{
	/*background-image:url("../img/tpl/guideHome_no.gif");*/
	/*padding-left: 28px;*/
}

div.tplPage ul.sw_outMain_navList li.outRoot,
div.tplPage ul.sw_outMainML_navList li.outRoot{
	/*background-image:url("../img/tpl/tplh_bh.gif");*/
}
div.tplPage ul.sw_outMain_navList a,
div.tplPage ul.sw_outMainML_navList a{
	color: #666666;
}
div.tplPage ul.sw_outMain_navList li.outRoot .mainElt_entry span,
div.tplPage ul.sw_outMainML_navList li.outRoot .mainElt_entry span{
	/*background-image:url("../img/tpl/guideHome.gif");*/
	/*padding-left: 28px;*/
}
ul.sw_outMain_navList li.outRoot .mainElt_entry span.tplGuideRet,
ul.sw_outMainML_navList li.outRoot .mainElt_entry span.tplGuideRet{
	/*background-image:url("../img/tpl/guideRet.gif");*/
}

ul.sw_outMain_navList li.outRoot span.mainSel_yes span,
ul.sw_outMainML_navList li.outRoot span.mainSel_yes span{
	/*background-image:url("../img/tpl/guideHome.gif");*/
	/*padding-left: 28px;*/
}

/* outMap.css */
ul.sw_outMap_navList,
ul.sw_outMapML_navList{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0px;
	text-align:left;
	margin:0px
}
ul.sw_outMap_navList ul,
ul.sw_outMapML_navList ul{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0px 40px;
	margin: 0px
}
ul.sw_outMap_navList li,
ul.sw_outMapML_navList li{
	padding: 1px 0px;
}
ul.sw_outMap_navList a,
ul.sw_outMapML_navList a{
	display: block;
	min-height:17px;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top:2px
}

ul.sw_outMap_navList a.mnuSel_yes,
ul.sw_outMapML_navList a.mnuSel_yes{
	color: #000000;
}
li.outRoot a.mnuSel_no,
li.outPre a.mnuSel_no{
	background-image:url("../img/out/outHome.gif");
}
li.outIntro a.mnuSel_no{
	background-image:url("../img/out/outIntro.gif");
}
li.outSec a.mnuSel_no{
	background-image:url("../img/out/outSec.gif");
}
li.outConc a.mnuSel_no{
	background-image:url("../img/out/outConc.gif");
}

li.outRoot a.mnuSel_yes,
li.outPre a.mnuSel_yes{
	background-image:url("../img/out/outHomeSel.gif");
}
li.outIntro a.mnuSel_yes{
	background-image:url("../img/out/outIntroSel.gif");
}
li.outSec a.mnuSel_yes{
	background-image:url("../img/out/outSecSel.gif");
}
li.outConc a.mnuSel_yes{
	background-image:url("../img/out/outConcSel.gif");
}

/* outStack.css */
span.sw_outStack_navRoot,
span.sw_outStackML_navRoot{
	display: block;
	cursor: default;
	position: absolute;
	bottom: 5px;
	left:5px;
	font-size:0.9em;
	background-color: white;
	-moz-opacity:0.8; 
	filter:Alpha(opacity=80); 
	opacity:0.8;
	padding:0px 3px;
	color: #696989;
}
a.stkSel_no{
	text-decoration: none;
	color: #696989;
}
a.stkSel_no:hover{
	text-decoration: underline;
}
span.stkSel_yes{
	color: #000000;
}
span.stkSep{
	color: #000000;
}

/* secOut.css */

div.secOutFra{
	/*color:#a08a1a*/
}
div.secOutFra ol{
	margin: 0px;
	/*background-repeat: no-repeat;*/
	/*background-position: left bottom;*/
	/*background-image:url("../img/out/secOut_bt.gif");*/
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 5px;
	list-style-position: inside;
	width: 350px;
}
div.secOutFra ul{
	margin: 0px;
	padding: 0px 0px 0px 30px;
	list-style-type: none;
}
div.secOutFra li{
	margin: 0px;
	padding: 0px;
}
div.secOutFra a{
	text-decoration: none;
	/*color:#a08a1a*/
}
div.secOutFra a:hover{
	text-decoration: underline;
}
div.secOutUi{
	background-repeat: repeat-y;
	background-position: left;
	/*background-image:url("../img/out/secOut_b.gif");*/
}
div.secOutTi a{
	background-repeat: no-repeat;
	background-position: top left;
	padding: 2px 0px 1px 23px;
	font-weight: bold;
}

a.secOut_op{
	display:block;	
	/*background:url("../img/out/secOut_op.gif") no-repeat;*/
	width:361px;
	height:20px
}
a.secOut_cl{
	background-image:url("../img/out/secOut_cl.gif");
	display:block;	
	width:361px;
	height:30px
}

.secOutTi a span{
	display:block;
	margin-left:8px;
	margin-top:7px
}

/* crDefinition.css */
div.keyOutline{
	text-align: center;
}
span.keyOutlineEntry{
	margin: 0px 0.7em;
	font-size:1.2em;
	font-weight: bold;
}
.keyCateg{
}

/* transf.css */
/* ========== PAGE CONTENT STYLES ========== */

/********/
/* Text */
/********/
.dk_para_ul,.dk_text_ul {
	/*background: url("../img/lnk.gif") no-repeat right;*/
	/*padding: 0px 15px 0px 0px;*/
	text-decoration: none;
}
.dk_para_ul:hover,.dk_text_ul:hover {
	/*background: url("../img/lnkOver.gif") no-repeat right;*/
}
/* tooltips */
.dk_text_ul_def {
	cursor: pointer;
	color:#AA3333;
	/*font-weight:bold;*/
	border-bottom: 1px solid #AA3333;
	padding-bottom: 0px;
}
.dk_text_ul_ref {
	cursor: pointer;
	border-bottom: 2px dotted #444444;
	padding-bottom: 0px;
}
.dk_text_tt_def,
.dk_text_tt_ref{
	background-color: #8e8e8e;
	border: 1px solid #535353;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
}
.dk_text_tt_def_co, 
.dk_text_tt_ref_co{
	padding: 3px;
}
.dk_text_tt_def_ti, 
.dk_text_tt_ref_ti {
	text-align: center;
	background-color: #8e8e8e;
	color: #fdf9e7;
	font-weight: bold;
	padding: 1px;
	border-bottom: 1px solid #535353;
}
.dk_text_tt_def_sh, 
.dk_text_tt_ref_sh {
	background-color: #CCCCCC;
	width: 3px;	
}

/* inlineStyles + textLeafs */

/* premier niveau des listes en étapes, le reste en normal */
.stepListDesc1 .dk_text_il,
.procSteps .dk_text_il,
.stepListDesc1 .dk_text_ol,
.procSteps .dk_text_ol,
.stepListDesc1 .dk_text_sl,
.procSteps .dk_text_sl{
	list-style-image: url("../img/puceStep.png");
}
.stepListDesc1 .dk_text_il .dk_text_il,
.stepListDesc1 .dk_text_il .dk_text_sl,
.procSteps .dk_text_il .dk_text_il,
.procSteps .dk_text_il .dk_text_sl,
.stepListDesc1 .dk_text_ol .dk_text_il,
.stepListDesc1 .dk_text_ol .dk_text_sl,
.procSteps .dk_text_ol .dk_text_il,
.procSteps .dk_text_ol .dk_text_sl{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: square;
}
.stepListDesc1 .dk_text_il .dk_text_ol,
.procSteps .dk_text_il .dk_text_ol,
.stepListDesc1 .dk_text_ol .dk_text_ol,
.procSteps .dk_text_ol .dk_text_ol{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: decimal;
}
/*.stepListDesc1 .dk_text_m,
.procSteps .dk_text_m{
	list-style-image: url("../img/puceStep.png");
	list-style-position: outside;
}
.stepListDesc1 .dk_text_ili,
.procSteps .dk_text_ili{
	list-style-image: url("../img/puceStep2.png");
}*/

.dk_text_ili .dk_text_p{
	margin:0.4em 0;	
}

.dk_text_m img,
.dk_text_p img,
.dk_para_p img{
	vertical-align: middle;
}
.
.dk_textSimple_is_emphasis,
 .dk_text_is_emphasis {
  font-weight:bold;
}
.dk_para_is_emphasis{
  font-weight:bold;
}
.dk_textSimple_is_alt {
	font-style:italic; 
}
.dk_text_is_alt {
	font-style:italic; 
}
.dk_textSimple_tl_textButton,
 .dk_text_tl_textButton,
  .dk_para_tl_textButton {
	background-color:#AACCFF;
	border-bottom: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #777777;
	border-top: 1px solid #DDDDDD;
	cursor: default;
	padding:0px 3px;
	-moz-border-radius:10px;
}

.dk_textSimple_tl_textRadioButton, 
.dk_text_tl_textRadioButton,
.dk_para_tl_textRadioButton {
background: url("../img/optButton.gif") no-repeat  2px;
	background-color: #F0F0F0;
	cursor: default;
	padding: 0px 2px 0px 15px;
}
 
.dk_textSimple_tl_textCheckBox, 
.dk_text_tl_textCheckBox, 
.dk_para_tl_textCheckBox {
	background: url("../img/chkButton.gif") no-repeat  2px;
	background-color: #F0F0F0;
	cursor: default;
	padding: 0px 2px 0px 15px;
}

.dk_textSimple_tl_keyboard, 
.dk_text_tl_keyboard,
.dk_para_tl_keyboard {
	/*background: url("../img/key.gif") no-repeat 2px;*/
	background-color: #F0F0F0;
	/*padding: 0px 2px 0px 16px;*/
	-moz-border-radius:3px
	border : 1px solid #AAAAAA;
	padding: 1px;
	cursor: default;
	color: #555555;
}
.dk_textSimple_tl_menuPath, 
.dk_text_tl_menuPath{
	/*background: url("../img/mnu.gif") no-repeat 2px;*/
	/*padding: 0px 2px 0px 20px;*/
	background-color: #777777;
	border-top:1px thin #999999;
	border-bottom:1px thin #999999;
	margin-right:1px;
	margin-left:1px;
	color: #FFFFFF;
	padding: 1px;
	cursor: default;	
	font-family:Geneva;
}
.dk_para_tl_menuPath{
	font-style:italic;
	color: #E38686;
	}
.dk_textSimple_tl_term, 
.dk_text_tl_term{
	font-style:italic;
	color:#426188;
}
.dk_para_tl_term{
	font-style:italic;
	color: #AFC1D5;
}
.dk_textSimple_tl_label, 
.dk_text_tl_label{
	font-weight:bold;
	font-family: monospace; 
	/*color:#532311;*/
}
.dk_para_tl_label{
	font-weight:bold;
	font-family: monospace; 
	color:#000000;
}

.dk_textSimple_tl_filePath, 
.dk_text_tl_filePath,
.dk_para_tl_filePath{
	background: url("../img/file.gif") no-repeat 2px;
	padding: 0px 2px 0px 22px;
	background-color: #F0F0F0;
	cursor: default;
}

 
/* lists */
.dk_textSimple_sl, 
.dk_text_sl {
}



/**********/
/* Blocks */
/**********/

.part{
	/*background:url(../img/partie.png) left top no-repeat;*/
	padding-left:30px
}

.part .part{
	/*background:url(../img/souspartie.png) left top no-repeat;*/
	padding-left:20px
}

.infobloc {
	padding: 5px 0px 5px 0px;
}
.infobloc_ti {
	font-weight: bold;
	font-size: 1.1em;
}
.warning_ti,
.advice_ti,
.tip_ti,
.example_ti,
.note_ti,
.legal_ti,
.complement_ti {
	font-weight: bold;
	margin-bottom: 5px;
	color:#6b6b6b;
	font-size: 1.1em;
}		
.dk_content_op_ti {
	font-weight: bold;
}
.op {
	margin: 1em 0em 1em 0px;
}
.op_ti {
	font-weight: bold;
	padding: 0.5em 0em 0.5em;
	font-family: verdana;
	font-size: 14px;
	color: #C4C3D3;
}		
.warning {
	background: url("../img/warningFond.gif") no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	
}

.def {
	background: url("../img/concept.png") no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	
	border: 1px solid #6B8E23;
}

.warning_ti {
	color:#bb3434
}	
.advice {
	background: url("../img/adviceFond.gif")  no-repeat top left;
	padding: 7px;
	padding-left:32px;	
	margin-left: 30px;

}
.tip {
	background: url("../img/trucFond.gif")  no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	

}
.example {
	background: url("../img/exampleFond.gif") no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	

}
.note {
	background: url("../img/noteFond.gif")  no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	

}
.legal {
	background: url("../img/legFond.gif") no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	

}
.complement {
	background: url("../img/compFond.gif")  no-repeat top left;
	margin-left: 30px;
	padding: 7px;
	padding-left:32px;	

}



/******************/
/*    StepList     */
/******************/
.step_ti{
	/*background: url("../img/stepTi.png") repeat-y top left;*/
	font-weight: bold;
	font-size:1.1em;
	padding-left:10px;
	padding-bottom:2px;
}
.step_ti p{
	padding-top: 0px;
	margin-top:0px;
}
.stepListAlt3 .step_ti{
	/*background-image: url(../img/stepTiS.png);*/
}
.procSteps .step_ti{

	/*background: url("../img/puceStep.png") no-repeat 0px 3px;*/
	padding-left:18px;
}
.step_desc,
.step_ext_co{
	padding-left:30px;
}
.step_ext{
	/*background: url(../img/stepExtraTop.png) top left no-repeat;*/
	padding-left: 5px;
	padding-top: 8px;
}

.step_ext_open,.step_ext_closed{
	padding-top:0px;
	padding-left:25px;
	height:20px;
	font-weight: bold;
	font-size:0.9em;
}
.step_ext_open{
	background: url(../img/stepExtraOpen.png) top left no-repeat;
}
.step_ext_closed{
	background: url(../img/stepExtraClosed.png) top left no-repeat;
}

.altStepList .stepList_ti{
	font-weight: bold;
}
.altStepList .stepList_co{
	padding-left: 30px;
	background: url(../img/windowBas.gif) top left no-repeat;
}

.stepListConstruction1{
	/*background: url(../img/stepList1.png) top repeat-x;*/
	border:1px solid #999999;
	margin-top:30px;
	padding-bottom:20px;
}

.stepListConstruction2{
	/*background: url(../img/stepList2.png) left repeat-y;*/
}

.stepListConstruction3{
	/*background: url(../img/stepList3.png) top left no-repeat;*/
}

.stepListConstruction4{
	/*background: url(../img/stepList4.png) top right no-repeat;*/
}

.stepListConstruction5{
	/*background: url(../img/stepList5.png) bottom left no-repeat;*/
	min-height:140px;
}

.stepListTitre{
	background: url(../img/procedure.png) no-repeat scroll 10px bottom;
	height:40px;
	padding-left:100px;
	display:table-cell;
	vertical-align: bottom;
	font-size:1.3em;
	color:#929292;
	font-weight: bold
}

.stepListAlt3 .stepListTitre{
	color:#6d8f27;
	padding:0px
}

.stepListAlt3 .stepListContenu{
	margin:0px
}

.stepListContenu{
	margin:10px;
	margin-bottom: 0px;
}

.stepListAlt3 .stepListConstruction1, 
.stepListAlt3 .stepListConstruction2, 
.stepListAlt3 .stepListConstruction3, 
.stepListAlt3 .stepListConstruction4, 
.stepListAlt3 .stepListConstruction5{
	background-image:none;
	padding:0px;
	margin:0px
}

.stepListIntro1, 
.step1, 
.stepTiOnly1, 
.stepListComment1, 
.stepListAlt1{
	margin-top:15px;
}

.stepListIntro3, 
.step3, 
.stepTiOnly3, 
.stepListComment3, 
.stepListAlt3{
	/*padding-top:30px;*/
	/*padding-bottom:10px;*/
}
.stepListAlt3 .stepListIntro3,
.stepListAlt3 .step3, 
.stepListAlt3 .stepTiOnly3, 
.stepListAlt3 .stepListComment3, 
.stepListAlt3 .stepListAlt3{
	/*padding-top:23px;*/
	/*padding-bottom:7px;*/
}

.stepListIntro3, 
.stepListComment3, 
.stepListAlt3{
	padding-left:10px;
}

.stepListIntro1{
	/*background: url(../img/stepListIntro1.png) left repeat-y;*/
}

.stepListIntro2{
	/*background: url(../img/stepListIntro2.png) top left no-repeat;*/	
}

.stepListIntro3{
	/*background: url(../img/stepListIntro3.png) bottom left no-repeat;*/
}

.stepListAlt3 .stepListIntro1{
	/*background-image: url(../img/stepListIntro1S.png);*/
}

.stepListAlt3 .stepListIntro2{
	/*background-image: url(../img/stepListIntro2S.png);*/	
}

.stepListAlt3 .stepListIntro3{
	/*background-image: url(../img/stepListIntro3S.png);*/
}
.step1{
	/*background: url(../img/step1.png) left repeat-y;*/
}

.step2{
	/*background: url(../img/step2.png) top left no-repeat;*/
}

.step3{
	/*background: url(../img/step3.png) bottom left no-repeat;*/
}

.stepTiOnly1{
	/*background: url(../img/step1.png) left repeat-y;*/
}

.stepTiOnly2{
	/*background: url(../img/step2.png) top left no-repeat;*/
}

.stepTiOnly3{
	/*background: url(../img/stepTiOnly3.png) bottom left no-repeat;*/
}

.stepListAlt3 .step1{
	/*background-image: url(../img/step1S.png);*/
}

.stepListAlt3 .step2{
	/*background-image: url(../img/step2S.png);*/
}

.stepListAlt3 .step3{
	/*background-image: url(../img/step3S.png);*/
}

.stepListAlt3 .stepTiOnly1{
	/*background-image: url(../img/step1S.png);*/
}

.stepListAlt3 .stepTiOnly2{
	/*background-image: url(../img/step2S.png);*/
}

.stepListAlt3 .stepTiOnly3{
	/*background-image: url(../img/stepTiOnly3S.png);*/
}

/****** Pas de bordure des commentaires *******/
/*
.stepListComment1{
	background: url(../img/stepListComment1.png) left repeat-y;	
	margin-top: 3em;
}
.stepListComment2{
	background: url(../img/stepListComment2_noimg.png) top left no-repeat;	
}
.stepListComment3{
	background: url(../img/stepListComment3.png) bottom left no-repeat;
}
.stepListAlt3 .stepListComment1{
	background-image: url(../img/stepListComment1S.png);
}
.stepListAlt3 .stepListComment2{
	background-image: url(../img/stepListComment2S_noimg.png);	
}
.stepListAlt3 .stepListComment3{
	background-image: url(../img/stepListComment3S.png);
}
*/
.stepListComment3{
	padding-top: 0px;
	padding-left: 0px;
}
.stepListComment1{
	margin-top: 1.2em;
}

.stepListAlt1{
	/*background: url(../img/stepListAlt1.png) left repeat-y;	*/
}

.stepListAlt2{
	/*background: url(../img/stepListAlt2.png) top left no-repeat;	*/
}

.stepListAlt3{
	/*background: url(../img/stepListAlt3.png) left bottom no-repeat;*/
}

.stepListAlt3 .stepListAlt1{
	/*background-image: url(../img/stepListAlt1S.png);*/
}

.stepListAlt3 .stepListAlt2{
	/*background-image: url(../img/stepListAlt2S.png);*/	
}

.stepListAlt3 .stepListAlt3{
	/*background-image: url(../img/stepListAlt3S.png);*/
}



/***************/
/* Concepts */
/************/

.dk_concept_def {
	/*margin: 1em 0em 1em 0em;*/
}
.dk_concept_desc {
	margin: 0em 0em 0.2em 0em;
}
/*
.def {
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:15px;
    background-color:#DDEBC1;
    border:1px solid #6B8E23;
    background: url(../img/concept.png) top left no-repeat;
    margin:30px 0 10px 30px;
    padding-left:5px;
    padding-top:5px;
}
*/

/**************/
/*   WIN      */
/************/
.dk_menuEntry_batch_ti {
	font-weight: bold;
}
.dk_menuEntry_window_ti {
	font-weight: bold;
}
.dk_batch_window_ti {
	font-weight: bold;
}
.eltWin {
	float:left;
	margin-right:10px;
}
.clear{
	clear:both
}
.dk_button_batch_ti {
	font-weight: bold;
}
.dk_button_window_ti {
	font-weight: bold;
}
.dk_content2_op_ti {
	font-weight: bold;
}
.dk_section_content_outlineIn {
	margin-left: 2em;
	margin-top: 2em;
	margin-right: 2em;
	padding: 1em 1em 1em 2em;
	border: medium solid #FFCC32;
	-moz-border-radius: 20px;
	width: auto;
}
.dk_section_content_link {
	padding-bottom: 3px;
	display: list-item;
	list-style-image: url("../img/linkBullet.gif");
	list-style-position: inside;
	list-style-type: none;
}
.dk_section_content_linkLabel {
	text-decoration: none;
	padding-left: 5px;
	font-style: italic;
	color: #535353;
}
.dk_section_content_linkLabel:hover {
	text-decoration: underline;
	color: #DAB13F;
}






/************/
/* Binaries */
/************/
.dk_content_linkSet_ti {
	font-weight: bold;
}
.linkSet {
	padding: 0px 5px;
	/*border-left:1px dotted #9494AF;*/
	border-left:10px solid #AA3333;
	margin:10px;
	margin-left:30px
}
.linkSet_ti {
	color: black;
	font-style:italic;
}	
.dk_flowAll_caption {
	border : 1px solid #C0C0C0;
	text-align: center;
}
.dk_flowAll_caption_co {
}
.dk_flowAll_caption_ti {
	border-top: 1px solid #C0C0C0;
	background-color : #F4F4F4;
	font-style:italic;
	text-align: center;
	padding-bottom:1px;
}
.caption {
	text-align: center;
	padding-bottom:12px;
}
.caption_co {
	margin: 0px auto;
	width:560px;
	
	text-align: center;
}
.caption_co img,
.caption_flash span {
	border: 0px solid #F4F4F4;
	text-align: center;
}
.caption_flash span {
	display: block;
	float: left;
}
.caption_ti {
	clear:both;
	color:#2222AA;
	font-style:italic;
	margin:0 auto;
	padding-left:15px;
	padding-top:15px;
	text-align:center;
	width:545px;
}
.caption_zm {
	text-decoration: none;
	background: url(../img/zoomImage.png) no-repeat center;
	padding: 0px 10px;
	margin-left: 5px;
	font-size: 15px;
	display: inline-block; /* hack IE7 */
	height: 15px; /* hack IE7 */
	-moz-opacity:0.7; 
	filter:Alpha(opacity=70); 
	opacity:0.7;
}
.caption_zm:hover {
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
	opacity:1;
}
.caption_zm span{
	position: absolute;
	top:-5000px;
	left:-5000px;
	overflow: hidden;
	width:1px;
	height:1px;
}
.scaption {
	text-align: center;
}
.scaption_co {
	margin: 0px auto;
	width:260px;
	background-color: white;
	text-align: left;
}
.scaption_co img{
	border: 3px solid #f2b600;
	text-align: center;
}
.scaption_ti {
	margin: 0px auto;
	width:245px;
	padding-left: 15px;
	color: #444444;
	text-align: left;
	font-style:italic;
	background-image: url("../img/legende.gif");
	background-position: top left;
	background-repeat: no-repeat;
}

.dk_txtRes_cellResRgt .caption_co,
.dk_txtRes_cellResLft .caption_co,
.eltWin .caption_co,
.procVid .caption_co{
	width: auto;
	margin:0px;
}
.dk_txtRes_cellResRgt .caption_ti,
.dk_txtRes_cellResLft .caption_ti,
.eltWin .caption_ti,
.procVid .caption_ti{
	width: auto;
	margin:0px;
}


.dk_flowAll_table_ti {
	font-weight: bold;
}
.dk_flowAll_graphic_ti {
	font-weight: bold;
}
.overview {
	padding-left:00px;
}

.sfile_scr-png_scr-gif_Small_caption {
	border : 1px solid gray;
	text-align: center;
	margin: 5px 0px;
}
.sfile_scr-png_scr-gif_Small_caption_co {
	padding: 2px;
}
.sfile_scr-png_scr-gif_Small_caption_ti {
	display:block;
	border : 1px solid gray;
	background-color : #8e8e8e;
	font-style:italic;
	text-align: center;
}






/**************/
/* References */
/**************/
.dk_definition_notion {
	/*padding: 5px 5px 0px 5px;*/
}
.dk_definition_notion_ti {
	/*background: url("../img/concept.png") left top no-repeat;*/
	/*padding:5px;*/
	font-size:1.1em;
	/*color:#4c4c4c;*/
	/*font-style: italic;*/
	font-weight:bold;
}
.dk_definitionMeta_syn{
	font-style: italic;
}
.dk_definitionMeta_def {
	/*padding-left:20px;*/
}

.dk_refMeta_tab {
	margin: 5px;
	background-color: #EDEDED;
	border-collapse: collapse;
	border-spacing: 2px;
}
.dk_refMeta_lab {
	padding:5px;
	border: solid #696969 1px;
	background-color: white;
}
.dk_refMeta_val {
	padding:5px;
	border: solid #696969 1px;
	background-color: white;
}
.dk_refMeta_desc {
	padding:5px;
	border: solid #696969 1px;
	background-color: white;
}
.dk_refMeta_alone {
	font-weight:bold;
	text-align: center;
}

.idxEntryCo{
	/*border:2px dotted #B79F22;*/
	margin-top:20px
}

.idxEntryCallers_co ul li{
}

.idxEntryCallers a{
	-moz-opacity:0.8; 
	filter:Alpha(opacity=80); 
	opacity:0.8;
}

.idxEntryCallers a:hover{
	text-decoration: none;
	-moz-opacity:1; 
	filter:Alpha(opacity=100); 
	opacity:1;
}

.idxEntryCallers{
	margin-top:5px;
}

.idxEntryCallers_open{
	background:url(../img/referentsOpen.png) left center no-repeat;
	padding-left:22px;
	padding-top:4px;
	padding-bottom:4px;
}

.idxEntryCallers_closed{
	background:url(../img/referents.png) left center no-repeat;
	padding-left:22px;
	padding-top:4px;
	padding-bottom:4px;
}

.idxEntryCallerLnk{
	background:url(../img/referent.png) left center no-repeat;
	padding-left:30px;
	padding-top:4px;
	padding-bottom:4px;
}

.idxEntryCallerLnk:hover{
	background-image:url(../img/referentOver.png);
}

.idxEntryCaller{
	list-style: none;
}


/**********/
/* others */
/**********/

.dk_rootMeta_longTitle_longTitle {
margin-top:10px;
}

.dk_txtRes_cellResLft{
	padding-right: 10px;
	padding-bottom: 0px;
}
.dk_txtRes_cellResRgt{
	padding-left: 10px;
}


.imgzFra_zmol{
	width:50px;
	height:50px;
	top:10px;
	left:10px;
/*
	margin-top:-25px;
	margin-left:-25px;
*/
	background-image:url("../img/imgZmOverlay.png");
	background-repeat: no-repeat;
}


ul.seeAlsoLnks{
	cursor:default;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0px;
	padding:0px;
	text-align:left;
}

ul.seeAlsoLnks li{
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 3px 0px 4px 18px;
	min-height:16px;
}
ul.seeAlsoLnks li.seeAlsoLnkSec{
	/*background-image:url("../img/out/outSecD2.gif");*/
	font-weight:bold;
}
ul.seeAlsoLnks li.seeAlsoLnkDoc{
	/*background-image:url("../img/out/outDocD2.png");*/
}
div.subSecList{
	text-align: center;
	background-image:url("../img/out/outMiddleSec.png");
	background-repeat: repeat-y;
	background-position: center;
	margin-top: 100px;
}
div.subSecUi{
	text-align: left;
	margin: 0px auto;
	width: 426px;
	background-image:url("../img/out/outTopSec.png");
	background-repeat: no-repeat;
	background-position: top center;
}
ul.sw_outSubSec_navList{
	/*background-image:url("../img/out/outBottomSec.png");*/
	background-repeat: no-repeat;
	background-position: bottom center;
	cursor:default;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0px;
	padding: 15px 20px;
}

ul.sw_outSubSec_navList li{
	background-image:url("../img/out/outSecD2.gif");
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 3px 0px 4px 18px;
	min-height:16px;
}

.overviewFra{
	text-align: center;
	padding:30px
}

a.lnkOverview {
	text-decoration: none;
	background: url(../img/zoom.gif) no-repeat left #ecdbf2;
	padding: 15px;
	padding-left:45px;	
	border:2px solid #ac5ac3;
	-moz-border-radius:10px;
	font-size:1.2em;
	color:#8939a0
}

a.lnkOverview span{
	color:#8939a0
}

a.lnkOverview:hover {
	text-decoration: underline;
}

.metyTable td,
.btnTable td{
	vertical-align: top;
	
}

td.procVid{
	vertical-align: top;
}
td.procSteps{
	vertical-align: top;
	padding-left: 5px;
}

.screenSeqFra{
	margin: 0 auto;
}
.scImgAnmCtrl{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border: 2px solid #DEBF20;
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000; 
	background-color:white;
	bottom:20px;
	position:absolute;
	right:5px;
	padding: 5px;
	width: 115px;
	height: 16px;
	z-index: 101;
	
}
.scImgAnmCtrLbl{
	display:none;
}
.scImgAnmBtnInitPly{
	position:absolute;
	width:100%;
	height:100%;
	background:url(../img/animPlayBtn.png) no-repeat center center;
}
.scImgAnmBtnInitPly span{
	display:none;
}
a.scImgAnmBtnPse {
position:absolute;
	left:30px;
	width:13px;
	height:13px;
	background: url(../img/player/stop.png) no-repeat center center;
}
a.scImgAnmBtnNxt {
	position:absolute;
	left: 55px;
	width:13px;
	height:13px;
	background: url(../img/player/next.png) no-repeat center center;
}
a.scImgAnmBtnPrv {
	position:absolute;
	left:5px;
	width:13px;
	height:13px;
	background: url(../img/player/prev.png) no-repeat center center;
}
a.scImgAnmBtnPly {
	position:absolute;
	left:30px;
	width:13px;
	height:13px;
	background: url(../img/player/play.png) no-repeat center center;
}
a.scImgAnmBtnPse:hover {
	background: url(../img/player/stop-h.png) no-repeat center center;
}
a.scImgAnmBtnNxt:hover {
	background: url(../img/player/next-h.png) no-repeat center center;
}
a.scImgAnmBtnPrv:hover {
	background: url(../img/player/prev-h.png) no-repeat center center;
}
a.scImgAnmBtnPly:hover {
	background: url(../img/player/play-h.png) no-repeat center center;
}
.scImgAnmCtrl a span,
.scImgSep{
	display:none;
}
.scImgAnmCtrIdx{
	position:absolute;
	left:80px;
	width:15px;
	height:13px;
}
.scImgAnmCtrSep{
	position:absolute;
	left:95px;
	width:10px;
	height:13px;
}
.scImgAnmCtrCnt{
	position:absolute;
	left:105px;
	width:15px;
	height:13px;
}
.screenImgFra{
	text-align: center;
}
.screenImg{
	margin: 0 auto;
}
.screenImg img{
	margin: 0;
}

.screenBk{
	margin:0.5em 0;
}
a.screenZoneLnk{
}
a.screenZoneLnkSmall:hover,
a.screenZoneLnk:hover,
a.scrTt_act{
	background-color: white;
	opacity:0.4;
	text-decoration: none;
	outline: 2px dotted black;
}
a.screenZoneLnk span{
	position: absolute;
	display: block;
	width:20px;
	height:18px;
	top:50%;
	left:50%;
	margin-top: -10px;
	margin-left: -10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	-webkit-box-shadow: 0px 0px 5px ;
	-moz-box-shadow: 0px 0px 5px ;
	box-shadow: 0px 0px 5px ; 
	background-color:#bcbcbc;
	font-size: 10px;
	text-align: center;
	padding-top: 2px;
	
}
a.screenZoneLnkSmall span{
	position: absolute;
	display: block;
	width:20px;
	height:18px;
	top:-10px;
	right:-10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	-webkit-box-shadow: 0px 0px 5px black;
	-moz-box-shadow: 0px 0px 5px black;
	box-shadow: 0px 0px 5px black; 
	background-color:#bcbcbc;
	font-size: 10px;
	text-align: center;
	padding-top: 2px;
}
a.screenZoneLnk:hover span,
a.screenZoneLnkSmall:hover span,
a.scrTt_act span{
	opacity:0.4;
	display: none;
}
.screenZones{
	margin: 10px 0;
}
.screenZone{
	margin: 10px 0;
	padding: 3px;
	margin: 0 0 1em 0;;
}
.screenZone p{
	margin: 0 0 0.4em 0;;
}
.screenZone:target {
	background-color:#c2c2c2;
}
.screenZone_ti{
	font-weight: bold;
	
}
.screenZonePreview{
	float:left;
	margin-right: 10px;
	padding-top:7px;
}
.screenZoneEnd{
	clear:both;
	font-style: italic;
	font-size: 0.8em;
	
}


.scrTt {
	border: 2px solid #cacaca;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	-webkit-box-shadow: 0px 0px 5px black;
	-moz-box-shadow: 0px 0px 5px black;
	box-shadow: 0px 0px 5px black; 
	background-color:white;
	margin:5px;
}
.scrTt_ti {
	min-height: 16px;
	background-color: #d4d4d4;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 2px 0px;
}
.scrTtLbl{
	padding: 2px 5px;
}
.scrTt_x{
	position  : absolute;
	top: 0px;
	right: 4px;
	width: 20px;
	height : 18px;
	background: url(../img/tt/close.gif) no-repeat center center;
}
a.scrTt_x:hover{
	text-decoration : none;
	background: url(../img/tt/close-h.gif) no-repeat center center;
}
.scrTt_x span {
	visibility : hidden;
	}
.scrTt_co {
	padding: 5px;
	min-width:400px;
	font-size: 0.9em;
	
}
.scrTt_co p{
	margin: 0px 0px 3px 0px;
	
}

.scrTt_co .screenZoneEnd a{
	display: none;
}
.scrTt_co .screenZone_ti{
	display: none;
}

.scrTt_co ul {
	padding:0px;
}

.scrTt_co ul li {
	list-style-position: inside;
}



